<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<appSettings file="PWMSBase.config">

    <add key="PWMSServiceName" value="Expert Event Manager" />
		<add key="Made4NetSchema_ConID" value="1"/>
    <add key="Made4Net_ConnAppName" value="retalix"/>

    <add key="LicenseUserId" value="EventManager"/>
		<add key="LicenseAppId" value="EventManager"/>
    <add key="QSenderLogPath" value="C:\RWMS\Logs\QSenderLog\" />
    <add key="QSenderLogEnabled" value="1" />
    <add key="UseLogs" value="1"/>
    <add key="LogsDir" value="C:\RWMS\Logs\EventManager\" />
    <add key="FailureCount" value="200"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup>-->
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
