<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!--<appSettings file="PWMSBase.config">

    <add key="PWMSServiceName" value="Expert BillingChargeExport" />
		<add key="UseLogs" value="1"/>
    <add key="LogPath" value="C:\RWMS\Logs\BillingChargeExport\" />
    <add key="MessageQ" value="BillingChargeExport"/>

    <add key="BillDateFormat" value="yyyy-MM-dd"/>

    <add key="ExportOutputFolder" value="C:\Projects\Projects\Alpine\SOURCE\BillingChargeExport Service\logs_and_files\"/>
    <add key="ExportBackUpFolder" value="C:\Projects\Projects\Alpine\SOURCE\BillingChargeExport Service\logs_and_files\backup\"/>

  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup>-->

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
