<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="PWMSBase.config">

    <add key="PWMSServiceName" value="Expert TaskManager"/>
		<add key="Made4Net_ConnAppName" value="DMLSSYS"/>

    <add key="ServiceLogDirectory" value="C:\RWMS\Logs\TaskManager\"/>
		<add key="UseLogs" value="1"/>
		
		<add key="LicenseUserId" value="TaskManager"/>
		<add key="LicenseAppId" value="TaskManager"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
