<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <httpHandlers>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false"/>
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false"/>
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false"/>
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false"/>
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false"/>
    </httpHandlers>
    <compilation defaultLanguage="vb" debug="true" targetFramework="4.8"/>
    <customErrors mode="Off"/>
    <!--<authentication mode="Windows" />-->
    <!-- commented for RWMS-1640 -->
    <!-- Start RWMS-1640 -->
    <authentication mode="Forms">
      <forms defaultUrl="~/Login.aspx" loginUrl="~/Login.aspx" slidingExpiration="true"/>
    </authentication>
    <!-- End RWMS-1640  -->
    <authorization>
      <allow users="*"/>
      <!-- Allow all users -->
    </authorization>
    <trace enabled="true" requestLimit="30" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <sessionState cookieless="UseCookies" mode="InProc" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" stateConnectionString="tcpip=127.0.0.1:42424" timeout="1"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <xhtmlConformance mode="Legacy"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI"/>
      </controls>
    </pages>
  </system.web>
  <appSettings>
    <add key="Made4Net_TableEditorActionBar_UseImages" value="1"/>
    <add key="Made4Net_Button_DisplayAccessKey" value="0"/>
    <add key="Made4Net_DisableDTCaching" value="1"/>
    <add key="Made4Net_DisableRadMenuCaching" value="1"/>
    <add key="Made4Net_EnableChartInDO" value="1"/>
    <add key="Made4Net_EnableCSVExport" value="1"/>
    <add key="Made4Net_EnableCustomViews" value="0"/>
    <add key="Made4Net_DisableQuickReport" value="1"/>
    <add key="Made4Net_HideDisabledButtons" value="1"/>
    <add key="Made4Net_ApplicationName" value="Warehouse Expert"/>
    <add key="Made4Net_EnableErrorLog" value="1"/>
    <add key="Made4Net_DisplayMenuShortCut" value="1"/>
    <add key="Made4NetLicensing_ApplicationId" value="WarehouseExpertWS"/>
    <add key="Made4Net_ConnAppName" value="Default"/>
    <add key="Made4NetSchema_ConID" value="1"/>
    <add key="Made4Net_EnableHelp" value="1"/>
    <add key="Made4Net_ErrorLevel" value="1"/>
    <!-- DataAccess Mode -->
    <add key="DALConnectedMode" value="true"/>
    <!-- ddmmyyyy or mmddyyyy or yyyymmdd -->
    <add key="Made4Net_DateFormat" value="ddmmyyyy"/>
    <add key="Made4Net_UICulture" value="he-IL"/>
    <add key="Made4Net_ChartingLibrary" value="RadChart"/>
    <!--<add key="Made4Net_ChartingLibrary" value="dotnetCHARTING"/>-->
    <add key="Copyright" value="Copyright © 2003 – 2013 Made4net corp. All rights reserved"/>
    <add key="MaxChartRecords" value="1000"/>
    <!--add key="BackGroundFile" value="c:\segula layout.jpg" /-->
    <add key="BackGroundFile" value="c:\segula layout.jpg"/>
    <add key="BackGroundLogicalPath" value="/m4nskins/default/images/"/>
    <add key="BackGroundHeight" value="200"/>
    <add key="BackGroundWidth" value="400"/>
    <add key="UseBackGroundSize" value="1"/>
    <add key="TimerInterval" value="5000"/>
    <!--Commented for RWMS-1185 Start-->
    <!--<add key="QueryCachingMonitorPath" value="C:\RWMS\Monitoring\QueryCachingMonitor" />-->
    <!--Commented for RWMS-1185 End-->
    <!--upgrade ajax 2.0 to 4.5-->
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="aspnet:JavaScriptDoNotEncodeAmpersand" value="false"/>
    <add key="enableLicenseCheck" value="false"/>
    <add key="aspnet:MaxHttpCollectionKeys" value="99999"/>
  </appSettings>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Login.aspx"/>
        <add value="default.aspx"/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="index.htm"/>
        <add value="index.html"/>
        <add value="iisstart.htm"/>
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <remove name="ChartImage_axd"/>
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd"/>
      <remove name="Telerik_Web_UI_DialogHandler_aspx"/>
      <remove name="Telerik_RadUploadProgressHandler_ashx"/>
      <remove name="Telerik_Web_UI_WebResource_axd"/>
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode"/>
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode"/>
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode"/>
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode"/>
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode"/>
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="X-UA-Compatible" value="IE=EmulateIE9"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>