<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<appSettings file="PWMSBase.config">

    <add key="PWMSServiceName" value="Expert Connect" />
    <add key="Made4NetSchema_ConID" value="1"/>
    <add key="EnableLogs" value="1"/>
    <add key="LogPath" value="C:\RWMS\Logs\Connect\ConnectLogs\" />
	  <add key="EnableMultiThreading" value="1"/>
    <add key="ThreadPoolMaxThreads" value="5"/>
	  <add key="Made4Net_ConnAppName" value="retalix"/>
   <add key="RawXmlPath" value="C:\RWMS\Logs\Connect\ConnectLogs\" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup>-->
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
