<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EmployeeInfoViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
	<appSettings>
		<add key="LicenseUserId" value="EmployeeInfoViewer" />
		<add key="LicenseAppId" value="EmployeeInfoViewer" />
		<add key="AllowCompleteTasks" value="False"/>
		<add key="TimeOut" value="10000"/>
		<add key="ShowPasswordField" value="False"/>
		<add key="CompleteTasksUponClockIn" value="False"/>
		<add key="UponLoginDisplayPrefReport" value="False"/>
		<add key="PrefReportButtonEnabled" value="True"/>
		<add key="PrefGridIsDisplayed" value="True"/>
		<add key="ConnectToDB" value="True"/>
		<add key="AddUserToWHActivity" value="True"/>
		<add key="Location" value="AAA0101"/>
		<add key="WarehouseArea" value="M1"/>
		<add key="ClockInMiscTaskSubType" value=""/>
		<add key="ClockOutMiscTaskSubType" value=""/>
    <add key="Made4Net_ConnAppName" value="retalix" />
	</appSettings>
</configuration>