<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!--<appSettings file="PWMSBase.config">

    <add key="PWMSServiceName" value="Expert BillingChargePosted" />
		<add key="UseLogs" value="1"/>
		<add key="LogPath" value="C:\RWMS\Logs\BillingChargePosted\"/>
    
    <add key="MessageQ" value="BillingChargeDetailPosted"/>

    <add key="BillDateFormat" value="yyyy-MM-dd"/>
    <add key="MessageDelayTime" value="30000"/>
   
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup>-->

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
